@use "../abstracts/variables" as *;
@use "../abstracts/mixins.scss" as *;

.c-appearancePanel {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @include panel-heading;

  &__input {
    display: flex;
    flex-direction: column;
    font-size: var(--fs-caption);
    gap: 0.6rem;

    input[type="range"] {
      @include thumb-slider;
    }

    &_colors {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      width: fit-content;

      button {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        border: 2px solid rgb(255 255 255 / 45%);
        cursor: pointer;

        &.active {
          border-color: $color-white;
        }
      }
    }
  }
}
