@use "../abstracts/variables" as *;
@use "../abstracts/mixins.scss" as *;

.c-appearancePanel {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &__title {
    font-size: 1.4rem;
  }

  &__subTitle {
    color: $color-dark-600;
    font-size: 0.8rem;
    line-height: 1.4;
  }

  &__input {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }
}
