@use "../abstracts/variables" as *;
@use "../abstracts/mixins.scss" as *;

.c-appearancePanel {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &__title {
    font-size: 1.4rem;
  }

  &__subTitle {
    color: $color-dark-600;
    font-size: 0.8rem;
    line-height: 1.4;
  }

  &__input {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    gap: 0.6rem;
  }

  &__colors {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
    padding: 0.8rem 1rem;
    border-radius: 8px;
    background-color: black;

    &_button {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      border: 2px solid rgb(255 255 255 / 45%);
      cursor: pointer;

      &.active {
        border-color: $color-white;
      }
    }
  }
}
