@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.c-appleMenuDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 50;
  @include dropdown-menu-body;

  &__item {
    @include dropdown-menu-item;
  }

  &__separator {
    height: 1px;
    margin: 0.25rem 0.35rem;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.1)
    );
  }
}
