@use "../abstracts/mixins" as *;

.c-colorPicker {
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
  width: fit-content;
  margin-bottom: 0.75rem;

  &__button {
    position: relative;
    width: clamp(12px, 0.8rem, 18px);
    height: clamp(12px, 0.8rem, 18px);
    border-radius: 50%;
    border: 1px solid rgb(var(--text-primary-rgb) / 0.45);
    cursor: pointer;

    &.active {
      border-color: var(--text-primary);

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 33%;
        height: 33%;
        border-radius: 50%;
        background-color: white;

        @include respond(md) {
          width: 33%;
          height: 33%;
        }
      }

      &::after {
        position: absolute;
        content: attr(data-color);
        top: 0;
        left: 50%;
        transform: translate(-50%, 150%);
        font-size: 10px;
        white-space: nowrap;
        color: var(--text-secondary);

        @include respond(md) {
          transform: translate(-50%, 200%);
        }
      }
    }
  }
}
