.c-desktopPanel,
.c-applicationsPanel {
  height: 100%;
  position: relative;
  min-height: 16rem;
  border-radius: 10px;
  border: 1px solid rgb(var(--text-primary-rgb) / 0.1);
  background-color: var(--surface-1);

  .c-desktopResumeIcon span {
    color: var(--text-primary) !important;
  }
}
