@use "../abstracts/mixins" as *;

.c-dock {
  --dock-items: 1;
  --dock-gap: 0.35rem;
  --dock-padding-x: 1rem;
  --icon-max-size: 6rem;
  --icon-min-size: 2.2rem;
  --dock-outer-margin: 2rem;

  width: fit-content;
  max-width: calc(100vw - var(--dock-outer-margin));
  position: fixed;
  bottom: 0.25rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--dock-gap);

  padding: 0 var(--dock-padding-x);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: saturate(180%) blur(0.5rem);

  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  &.hidden {
    transform: translate(-50%, 200%);
  }

  img {
    width: clamp(
      var(--icon-min-size),
      calc(
        (
            100vw - var(--dock-outer-margin) - (var(--dock-padding-x) * 2) -
              ((var(--dock-items) - 1) * var(--dock-gap))
          ) /
          var(--dock-items)
      ),
      var(--icon-max-size)
    );
    height: auto;
    flex: 0 0 auto;
    transform-origin: center bottom;

    @include respond(md) {
      --icon-max-size: 3rem;
      --icon-min-size: 1.8rem;
    }
  }
}
