@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

// Using px instead of rem to avoid writing new styles for the same size in different breakpoints

.c-dock {
  --dock-items: 1;
  --dock-gap: 4px;
  --dock-padding-x: 10px;
  --icon-max-size: 48px;
  --icon-min-size: 28px;
  --dock-outer-margin: 12px;
  --dock-available-width: calc(100svw - (var(--dock-outer-margin) * 2));

  width: fit-content;
  max-width: var(--dock-available-width);
  position: fixed;
  bottom: 0.25rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--dock-gap);

  padding: 0 var(--dock-padding-x);
  border: 1px solid $color-glass-border;
  border-radius: 10px;
  @include glass-surface;

  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  &.hidden {
    transform: translate(-50%, 200%);
  }

  &--left,
  &--right {
    top: 50%;
    bottom: auto;
    max-width: none;
    max-height: calc(100svh - (var(--dock-outer-margin) * 2));
    flex-direction: column;
    padding: var(--dock-padding-x) 0;
    gap: var(--dock-gap);
    transform: translateY(-50%);
    padding: 16px 4px;

    img {
      transform-origin: center;
    }
  }

  &--left {
    left: 8px;
    right: auto;

    &.hidden {
      transform: translate(calc(-100% - var(--dock-outer-margin)), -50%);
    }
  }

  &--right {
    right: 8px;
    left: auto;

    &.hidden {
      transform: translate(calc(100% + var(--dock-outer-margin)), -50%);
    }
  }

  // Tablet
  @include respond(sm) {
    --dock-gap: 6px;
    --dock-padding-x: 14px;
    --icon-max-size: 60px;
    --icon-min-size: 36px;
    --dock-outer-margin: 20px;
  }

  // Desktop
  @include respond(md) {
    --dock-gap: 6px;
    --dock-padding-x: 16px;
    --icon-max-size: 56px;
    --icon-min-size: 32px;
    --dock-outer-margin: 32px;
  }

  img {
    width: clamp(
      var(--icon-min-size),
      calc(
        (
            var(--dock-available-width) - (var(--dock-padding-x) * 2) -
              ((var(--dock-items) - 1) * var(--dock-gap))
          ) /
          var(--dock-items)
      ),
      var(--icon-max-size)
    );
    height: auto;
    flex: 0 0 auto;
    transform-origin: center bottom;
  }
}
