@use "../base/animations.scss" as *;
@use "../abstracts/variables" as *;

.c-dockIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__activeIndicator {
    background-color: $color-white;
    width: 4px;
    height: 4px;
    border-radius: 50%;
  }
}
