@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.c-loginOverlay {
  position: absolute;
  inset: 0;
  z-index: 9;

  opacity: 1;

  transition: opacity 0.5s ease;

  &.hidden {
    opacity: 0;
  }

  &.invisible {
    visibility: hidden;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-white;

  background: $color-overlay-bg;
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid $color-overlay-border;

  &__userInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    @include respond(sm) {
      font-size: 1.75rem;
    }

    @include respond(lg) {
      font-size: 1.5rem;
    }

    &_img {
      width: 15rem;

      @include respond(sm) {
        width: 12rem;
      }

      @include respond(md) {
        width: 11rem;
      }

      @include respond(lg) {
        width: 10rem;
      }

      @include respond(xl) {
        width: 9rem;
      }

      @include respond(xxl) {
        width: 8rem;
      }
    }

    &_input {
      display: flex;
      align-items: center;
      background-color: $color-dark-600;
      border-radius: 999rem;
      padding: 0 0.5rem 0 1rem;
      gap: 0.8rem;
      margin-top: 2rem;

      @include respond(lg) {
        margin-top: 1rem;
      }
    }

    &_input input {
      flex: 1;
      background: transparent;
      border: none;
      outline: none;
      color: $color-white;
      padding: 0.8rem 0;
      font-size: 1.2rem;

      @include respond(lg) {
        padding: 0.5rem 0;
        font-size: 1rem;
      }
    }

    &_input img {
      width: 2rem;
      height: 2rem;
      cursor: pointer;

      @include respond(md) {
        width: 1.8rem;
        height: 1.8rem;
      }

      @include respond(lg) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &__buttonGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;

    &_group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 4rem;
        background: $color-dark-600;
        border-radius: 50%;
        padding: 0.5rem;

        @include respond(xs) {
          width: 2.5rem;
          padding: 0.3rem;
        }

        @include respond(lg) {
          width: 2rem;
          padding: 0.2rem;
        }
      }

      button {
        background-color: transparent;
        outline: none;
        border: none;
      }
    }
  }
}
