@use "../abstracts/mixins" as *;

.c-menuBar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: saturate(180%) blur(0.5rem);
  padding: 0.25rem 0.5rem;

  transition: transform 0.75s cubic-bezier(0.4, 0, 0.2, 1);

  @include respond(sm) {
    padding: 0.125rem 0.5rem;
  }

  @include respond(lg) {
    padding: 0.0625rem 0.5rem;
  }

  &.hidden {
    transform: translateY(calc(-100%));
  }

  &__appleLogo {
    font-size: 1.25rem;

    @include respond(lg) {
      font-size: 1rem;
    }

    @include respond(xxl) {
      font-size: 0.75rem;
    }
  }

  &__date {
    color: white;
    font-size: 1.25rem;

    @include respond(lg) {
      font-size: 1rem;
    }

    @include respond(xl) {
      font-size: 0.75rem;
    }
  }
}
