.c-menuBar {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: saturate(180%) blur(0.5rem);
  padding: 0.25rem 0.5rem;

  &__date {
    color: white;
    font-size: 1.4rem;
  }
}
