@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.c-shutDownOverlay {
  position: absolute;
  inset: 0;
  z-index: 9;

  opacity: 1;
  transition: opacity 0.5s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-white;

  background: black;
  border: 1px solid $color-overlay-border;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &__icon {
    width: 5rem;
    align-self: center;
  }
}
