@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.c-shutDownOverlay {
  min-height: 100svh;
  position: absolute;
  inset: 0;
  z-index: 999999999;
  background: $color-black;
  color: $color-white;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  transition: opacity 1s ease;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}
