@use "../abstracts/variables" as *;
@use "../abstracts/mixins.scss" as *;

.c-wallpaperPanel {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &__title {
    font-size: 1.4rem;
  }

  &__subTitle {
    color: $color-dark-600;
    font-size: 0.8rem;
    line-height: 1.4;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;

    button {
      width: 100%;
      border-radius: 8px;
      border: none;
      aspect-ratio: 10 / 16;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      transition:
        transform 0.2s ease,
        border-color 0.2s ease;

      @include respond(sm) {
        aspect-ratio: 3 / 4;
      }

      @include respond(lg) {
        aspect-ratio: 16 / 9;
      }

      &.active {
        outline: 2px solid $color-accent-blue-500;
      }
    }
  }
}
