@use "../abstracts/mixins" as *;

.c-windowWrapper {
  width: fit-content;
  position: fixed;
  top: 5.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  border-radius: 12px;
  @include glass-dark;

  overflow: hidden;

  &__titleBar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;

    &_buttons {
      display: flex;
      align-items: center;
      gap: 10px;

      flex: 1;

      button {
        width: 12px;
        height: 12px;

        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }

      [class="--close"] {
        background: #ff5f57;
        position: relative;

        &:hover::after {
          content: "\00D7";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 10px;
        }
      }

      [class="--minimize"] {
        background: #febc2e;
        position: relative;

        &:hover::after {
          content: "\2212";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 10px;
        }
      }

      [class="--maximize"] {
        background: #28c840;
        position: relative;

        &:hover::after {
          content: "";
          position: absolute;
          inset: 0;
          background-image: url("/icons/maximize.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 70%;
        }
      }
    }
  }
}
