@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.c-windowWrapper {
  width: fit-content;
  z-index: 99;
  border-radius: 12px;
  @include glass-dark;
  display: flex;
  flex-direction: column;

  overflow: hidden;

  &--maximized {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  &__titleBar {
    padding: 10px;
    position: relative;

    &_buttons {
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 10px;

      flex: 1;

      button {
        width: 12px;
        height: 12px;

        border-radius: 50%;
        border: 1px solid $color-button-border;
        cursor: pointer;

        &:disabled {
          background-color: $color-dark-800;
        }
      }

      [class="--close"] {
        background: $color-mac-close;
        position: relative;

        &:hover::after {
          content: "\00D7";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 10px;
        }
      }

      [class="--minimize"] {
        background: $color-mac-minimize;
        position: relative;

        &:hover::after {
          content: "\2212";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 10px;
        }

        &:disabled {
          cursor: initial;

          &:hover::after {
            content: "";
          }
        }
      }

      [class="--maximize"] {
        background: $color-mac-maximize;
        position: relative;

        &:hover::after {
          content: "";
          position: absolute;
          inset: 0;
          background-image: url("/icons/maximize.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 70%;
        }

        &:disabled {
          cursor: initial;

          &:hover::after {
            content: "";
            background-image: none;
          }
        }
      }
    }
  }

  &__content {
    flex: 1;
    min-height: 0;
  }
}
