@use "../../abstracts/variables" as *;

.w-aboutThisDev {
  width: fit-content;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
    margin-top: 1rem;

    &_logo {
      width: 6rem;
      height: 6rem;
      border-radius: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $color-black;
      color: $color-white;
      font-size: 3.2rem;
    }

    &_aboutMe {
      text-align: center;

      h2 {
        font-size: 1.75rem;
        line-height: 1.1;
        margin-bottom: 0.4rem;
        color: $color-white;
      }

      p {
        font-size: 1rem;
        color: $color-white;
        margin-bottom: 0.3rem;
      }
    }
  }

  &__details {
    margin: 2rem 0 1rem 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
    }

    strong {
      color: $color-white;
      font-size: 1rem;
    }

    span {
      color: $color-white;
      font-size: 1rem;
      text-align: right;
    }
  }
}
