.w-aboutThisDev {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;

    &_logo {
      width: 6rem;
      height: 6rem;
      border-radius: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      color: white;
      font-size: 3.2rem;
    }

    &_aboutMe {
      text-align: center;

      h2 {
        font-size: 1.75rem;
        line-height: 1.1;
        margin-bottom: 0.4rem;
        color: white;
      }

      p {
        font-size: 1rem;
        color: white;
        margin-bottom: 0.3rem;
      }
    }
  }

  &__details {
    margin-top: 1.8rem;
    padding-top: 1.2rem;
    display: grid;
    gap: 1rem;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4rem;
    }

    strong {
      color: white;
      font-size: 1rem;
    }

    span {
      color: white;
      font-size: 1rem;
      text-align: right;
    }
  }
}
