@use "../../abstracts/variables" as *;

$calculator-key-size: 50px;

.w-calculator {
  width: fit-content;

  &__display {
    background-color: $color-dark-900;
    color: $color-white;
    text-align: end;
    font-size: 48px;
    padding: 0 8px;
  }

  &__keys {
    display: grid;
    grid-template-columns: repeat(4, $calculator-key-size);
    grid-auto-rows: $calculator-key-size;

    &_key {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: $color-dark-700;
      color: $color-white;
      font-size: 20px;
      border: 1px solid $color-dark-800;

      &--fn {
        background-color: $color-dark-800;
      }

      &--operator {
        background-color: $color-accent-orange;
      }

      &--span2 {
        grid-column: span 2;
      }
    }
  }
}
