.w-calculator {
  --calculator-key-size: 60px;

  width: 240px;
  background-color: #3d3e3f;
  display: flex;
  flex-direction: column;

  &__display {
    background-color: #1c1d1f;
    color: var(--color-white);
    height: 80px;
    padding: 0 12px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;

    &-text {
      font-size: 48px;
      font-weight: 300;
      white-space: nowrap;
      transform-origin: right bottom;
      padding-bottom: 8px;
    }
  }

  &__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: var(--calculator-key-size);
    gap: 1px;
    background-color: #252526;

    &_key {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #3d3e3f;
      color: var(--color-white);
      font-size: 20px;
      border: none;
      outline: none;
      cursor: default;

      &:active {
        filter: brightness(1.3);
      }

      &--fn {
        background-color: #252526;
      }

      &--operator {
        background-color: var(--accent-orange);
        font-size: 1.5rem;

        &:active {
          filter: brightness(0.7);
        }
      }

      &--span2 {
        grid-column: span 2;
        text-align: center;
      }
    }
  }
}
