$calculator-key-size: 50px;

.w-calculator {
  width: fit-content;

  &__display {
    background-color: #2d2d2d;
    color: white;
    text-align: end;
    font-size: 48px;
    padding: 0 8px;
  }

  &__keys {
    display: grid;
    grid-template-columns: repeat(4, $calculator-key-size);
    grid-auto-rows: $calculator-key-size;

    &_key {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: #4e4e4e;
      color: white;
      font-size: 20px;
      border: 1px solid #333;

      &--fn {
        background-color: #333;
      }

      &--operator {
        background-color: #ff7a00;
      }

      &--span2 {
        grid-column: span 2;
      }
    }
  }
}
