@mixin respond($breakpoint) {
  @if $breakpoint == iPad {
    @media (min-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
