@use "./variables" as *;

@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: 36em) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media (min-width: 48em) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media (min-width: 62em) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (min-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media (min-width: 87.5em) {
      @content;
    }
  }

  @if $breakpoint == xxl {
    @media (min-width: 100em) {
      @content;
    }
  }
}

@mixin glass-dark {
  background-color: rgb(var(--glass-rgb, 0 0 0) / var(--glass-alpha, 0.25));
  backdrop-filter: blur(var(--blur-intensity));
  -webkit-backdrop-filter: blur(var(--blur-intensity));
  border: 1px solid $color-glass-border;
}
