@use "./base/base.scss";

// Screens
@use "./screens/turnOnScreen.scss";
@use "./screens/homeScreen.scss";

// Components
@use "./components/menuBar.scss";
@use "./components/dock.scss";
@use "./components/loginOverlay.scss";
@use "./components/appleMenuDropdown.scss";
@use "./components/windowWrapper.scss";
@use "./components/dockIcon.scss";
@use "./components/shutDownModal.scss";
@use "./components/shutDownOverlay.scss";
@use "./components/wallpaperPanel.scss";

// Windows
@use "./components/windows/aboutThisDevWindow.scss";
@use "./components/windows/calculatorWindow.scss";
@use "./components/windows/settingsWindow.scss";
