@use "./base/base.scss";

// Screens
@use "./screens/turnOnScreen.scss";
@use "./screens/homeScreen.scss";

// Components
@use "./components/menuBar.scss";
@use "./components/dock.scss";
@use "./components/loginOverlay.scss";
@use "./components/appleMenuDropdown.scss";
@use "./components/windowWrapper.scss";

// Windows
@use "./components/windows/aboutThisDevWindow.scss";
@use "./components/windows/calculatorWindow.scss";
