@use "./base/base.scss";

// Screens
@use "./screens/turnOnScreen.scss";
@use "./screens/homeScreen.scss";

// Components
@use "./components/menuBar.scss";
@use "./components/dock.scss";
@use "./components/loginOverlay.scss";
