.s-home {
  min-height: 100vh;
  background: url("/26-Tahoe-Beach-Dusk.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
