@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.s-turnOff {
  min-width: 100svw;
  min-height: 100svh;
  background-color: $color-black;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: $color-text-primary;

  &__powerButton {
    width: fit-content;
    border: none;
    background: none;
    cursor: pointer;
    align-self: center;

    &_img {
      width: 5rem;
    }
  }

  &__restartTimer {
    font-size: $fs-display-lg;
    align-self: center;
  }
}
