@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/animations.scss" as *;

$bar-bg: $color-dark-800;
$progress-color: $color-white;
$bar-height: 0.25rem;
$animation-duration: 3s;

.s-turnOn {
  min-height: 100vh;
  background-color: $color-black;
  color: $color-white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  &__appleLogo {
    font-size: 5rem;
  }

  &__loader {
    width: 15rem;
    height: $bar-height;
    background-color: $bar-bg;
    border-radius: 1rem;
    overflow: hidden;

    &_progress {
      width: 0;
      height: 100%;
      background-color: $progress-color;
      animation: boot-up-loading $animation-duration linear forwards;
    }
  }
}
