@use "../abstracts/mixins" as *;
@use "../base/animations.scss" as *;

.s-turnOn {
  --bar-bg: var(--surface-2);
  --progress-color: var(--text-primary);
  --bar-height: 0.25rem;
  --animation-duration: 3s;

  min-height: 100svh;
  background-color: var(--surface-1);
  color: var(--text-primary);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  &__appleLogo {
    font-size: var(--fs-display-lg);
  }

  &__loader {
    width: 15rem;
    height: var(--bar-height);
    background-color: var(--bar-bg);
    border-radius: 1rem;
    overflow: hidden;

    &_progress {
      width: 0;
      height: 100%;
      background-color: var(--progress-color);
      animation: boot-up-loading var(--animation-duration) linear forwards;
    }
  }
}
