@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

@keyframes boot-up-loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
