@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

@keyframes boot-up-loading {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes window-restore {
  from {
    opacity: 0;
    transform: translate(
        var(--minimize-translate-x, 0),
        var(--minimize-translate-y, 42vh)
      )
      scale(0.2);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
