@use "../abstracts/mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;

  @include respond(xs) {
    font-size: 75%;
  }

  @include respond(sm) {
    font-size: 87.5%;
  }

  @include respond(md) {
    font-size: 100%;
  }

  @include respond(lg) {
    font-size: 112.5%;
  }

  @include respond(xl) {
    font-size: 125%;
  }

  @include respond(xxl) {
    font-size: 137.5%;
  }
}

.background {
  min-height: 100vh;
  background: url("/26-Tahoe-Beach-Dusk.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
