@use "../abstracts/mixins" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
  font-family: "Nunito", sans-serif;

  @include respond(xs) {
    font-size: 75%; // 1rem = 12px
  }

  @include respond(sm) {
    font-size: 87.5%; // 1rem = 14px
  }

  @include respond(md) {
    font-size: 100%; // 1rem = 16px
  }

  @include respond(lg) {
    font-size: 112.5%; // 1rem = 18px
  }

  @include respond(xl) {
    font-size: 125%; // 1rem = 20px
  }

  @include respond(xxl) {
    font-size: 137.5%; // 1rem = 22px
  }
}
